fastapi
uvicorn[standard]
celery
redis
psycopg2-binary
sqlalchemy
qdrant-client
langgraph
langchain-core
langchain-community
langchain-groq
groq
ollama
sentence-transformers
edge-tts
pydub
python-dotenv
pydantic
pydantic-settings
asyncpg
